@import "../../App.scss";

.taskList {
  display: flex;
  justify-content: center;

  .task-container {
    width: 60vw;
    height: 60px;
    display: flex;
    background-color: #555;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 22px;
    position: relative;

    @include tablet {
      width: 80vw;
    }

    .listed-task {
      width: 60vw;
      display: flex;
      align-items: center;

      span {
        margin-left: 20px;

        @include tablet {
          margin-left: 10px;
        }

        .fa-circle-check {
          cursor: pointer;
          color: greenyellow;
        }
      }

      .task-title {
        font-size: 22px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include tablet {
          font-size: 16px;
        }
      }

      .done {
        text-decoration: line-through;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .icons-container {
      display: flex;
      align-items: center;

      span {
        margin-right: 20px;

        @include tablet {
          margin-right: 10px;
        }

        .fa-pen-to-square {
          cursor: pointer;
          color: greenyellow;
        }

        .fa-trash-can {
          cursor: pointer;
          color: rgb(197, 59, 59);
        }
      }
    }
  }
}
